.container-1 {
  border: solid;
}

.flex-box-container-1 {
  display: flex;
  border: 1px solid;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.contain div {
  display: flex;
  padding: 10px;
  border: 1px solid;
  align-items: center;
}
