.container-1,
.container-2 {
  border: solid;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-1,
.flex-box-container-2 {
  display: flex;
  border: 1px solid;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-2 img {
  border: 2px solid;
  margin: 10px;
}

.contain-1 div,
.contain-2 div {
  display: flex;
  padding: 10px;
  border: 1px solid;
  align-items: center;
}
